absl-py==2.1.0
astunparse==1.6.3
certifi
charset-normalizer
click
flatbuffers
gast==0.4.0
google-pasta==0.2.0
grpcio
h5py
idna
keras==2.12.0
libclang
Markdown
ml_dtypes
numpy==1.23.5
opt_einsum
packaging
pandas
pillow
protobuf==3.20.3
requests
scikit-learn
scipy
seaborn
setuptools
six
tensorboard==2.12.3
tensorflow==2.12.0
termcolor
threadpoolctl
typing_extensions
urllib3
wrapt
streamlit
matplotlib
Flask
